<h2 mat-dialog-title>
  <span class="textColor">
    {{ this.dialogService.title }}
  </span>
</h2>
<mat-dialog-content>
  <span class="textColor">
    {{ this.dialogService.content }}
  </span>
  <img *ngIf="this.dialogService.image" [src]="this.dialogService.image" alt="" class="dialogImage" mat-card-image>
  @for (image of this.stateManagerService.imageList; track image.id) {
    <img [src]="image" mat-card-image alt="" class="image">
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <input #fileInput (change)="onFileSelected($event)" *ngIf="this.dialogService.upload" class="input" type="file">
  <div class="fileUploadContainer">
    {{ fileName }}

    <button *ngIf="this.dialogService.upload" (click)="openUploadDialog()" class="upload-btn" color="primary" mat-mini-fab>
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>

  <button *ngIf="this.dialogService.closeButton" mat-button mat-dialog-close>
    <span class="textColor">Close</span>
  </button>
  <button *ngIf="this.dialogService.deleteButton" [mat-dialog-close]="true" cdkFocusInitial mat-button mat-dialog-close>
    <span class="textColor">Delete</span>
  </button>
  <button *ngIf="this.dialogService.saveButton" [mat-dialog-close]="true" cdkFocusInitial mat-button mat-dialog-close>
    <span class="textColor">Save</span>
  </button>
</mat-dialog-actions>
