.yardsContainer {
  margin-top: 40px;
}

.yards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 300px;
  margin: 10px;
}

.header-image {
  background-image: url('/assets/image/pine.png');
  background-size: cover;
}
