<div class="yards_container">

  <div *ngIf="!this.yardsListIsHidden" class="yards">
    @for (yard of yardsList; track yard.id) {
      <mat-card class="card" (click)="showYard(yard.id)">

        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{ yard.name }}</mat-card-title>
          <mat-card-subtitle>{{ yard.yardSubType }}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="/assets/image/yard.png">

        <mat-card-content></mat-card-content>

        <mat-card-actions>
          <button mat-button>EDIT</button>
          <button mat-button>DELETE</button>
        </mat-card-actions>

      </mat-card>
    }
  </div>


  <div *ngIf="!this.yardItemIsHidden" class="yard_details">
    <div class="yard_details_container">
      <ul>
        <li>{{ yardItem?.id }}</li>
        <li>{{ yardItem?.name }}</li>
        <li>{{ yardItem?.userEmail }}</li>
      </ul>
      <button (click)="deleteYard(yardItem?.id)">Delete</button>
    </div>
  </div>


  <div *ngIf="!this.yardPostIsHidden" class="yard_details">
    <div [hidden]="yardPostIsHidden">
      <form (ngSubmit)="postYard()" [formGroup]="yardFormGroup">

        <div>
          <label for="name">Name</label>
          <input formControlName="name" id="name" type="text">
          <div *ngIf="yardFormGroup.get('name')?.invalid && yardFormGroup.get('name')?.touched">
            The yard must have a name.
          </div>

          <select formControlName="hardinessZone">
            <option *ngFor="let option of hardinessZone" [value]="option.value">
              {{ option.label }}
            </option>
          </select>

          <select formControlName="yardSubType">
            <option *ngFor="let option of yardSubType" [value]="option.value">
              {{ option.label }}
            </option>
          </select>

          <button [disabled]="yardFormGroup.invalid" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>





