<div class="yardsContainer">


  <div class="textColor">
    <h2>In Early Development</h2>

    <p><span style="font-weight: bolder">New features:</span> Upload new images for your yard and customize your yard thumbnail image. Also, notes integration.</p>
    <p><span style="font-weight: bolder">Coming soon:</span>  Maps integration, plot your yard via Google maps and add objects via a grid overlay. </p>
    <p>Please find more info here: <a href="https://github.com/marcuslull/MBYAngular" target="_blank">Github repository</a></p>
    <p style="font-weight: bolder">Get started by logging in with the demo creds, then create a yard with the add button in the lower right.</p>
  </div>

  <div class="cardContainer">
    @for (yard of this.stateManagerService.globalYardList; track yard.id) {
      <mat-card class="card">

        <mat-card-header class="backgroundColor textColor" (click)="showYard(yard.id)">
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{ yard.name }}</mat-card-title>
          <mat-card-subtitle>{{ getLabel(yard.yardSubType) }}</mat-card-subtitle>
        </mat-card-header>

        <img class="cardImage backgroundColor" mat-card-image [src]="yard.localThumbnailImageUrl"
             (click)="showYard(yard.id)" alt="">

        <mat-card-content></mat-card-content>

        <mat-card-actions class="backgroundColor">
          <button mat-button (click)="editYard(yard)"><span class="textColor">Edit</span></button>
          <button class="textColor" mat-button (click)="openDeleteDialog(yard.id, '200ms', '0ms')">
            <span class="textColor">Delete</span>
          </button>
        </mat-card-actions>

      </mat-card>
    }
  </div>

</div>
