.yardsContainer {
  margin-top: 40px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin-right: 5%;
  margin-top: 75px;
  box-shadow: 3px 3px 20px 0;
}

.header-image {
  background-image: url('/assets/image/pine.png');
  background-size: cover;
}

.cardImage {
  padding: 5%;
}
