<div class="yardsContainer">

  @for (yard of yardsList; track yard.id) {
    <mat-card class="card">

      <mat-card-header (click)="showYard(yard.id)">
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{ yard.name }}</mat-card-title>
        <mat-card-subtitle>{{ yard.yardSubType }}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="/assets/image/yard.png" (click)="showYard(yard.id)">

      <mat-card-content></mat-card-content>

      <mat-card-actions>
        <button mat-button>EDIT</button>
        <button mat-button (click)="deleteYard(yard.id)">DELETE</button>
      </mat-card-actions>

    </mat-card>
  }
</div>
