.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 100;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-columns: .25fr 2.5fr .25fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.title {
  margin-left: 15px;
  font-size: larger;
}

.spacer {
  flex: 1 1 auto;
}
