/* You can add global styles to this file, and also import other style files */
:root {
  --backgroundColor: rgba(224, 223, 205, 0.6);
  --textColor: #48433e;
  --warning: #388E3C;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Libre Baskerville", "Helvetica Neue", sans-serif;
}

.backgroundColor {
  background-color: var(--backgroundColor);
}

.textColor {
  color: var(--textColor);
}

.warning {
  color: var(--warning);
}
