<mat-toolbar class="secondary_bar" color="secondary">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="breadcrumbs">Breadcrumbs should go here</span>
</mat-toolbar>


<mat-sidenav-container [hasBackdrop]="false" class="drawerContainer">
  <mat-sidenav #drawer [fixedInViewport]="true" class="drawer" mode="over">
    <h2>Home</h2>
    <h2>Yards</h2>
    <h2>Plants</h2>
    <h2>Animals</h2>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-yards></app-yards>
  </mat-sidenav-content>
</mat-sidenav-container>





