<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

  <div>
    <label for="email">Email</label>
    <input formControlName="email" id="email" type="email">
    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
      Email is required and must use conventional form
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <input formControlName="password" id="password" type="password">
    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
      Password is required
    </div>
  </div>

  <div>
    <label for="role">Role (USER or ADMIN)</label>
    <input formControlName="role" id="role" type="text">
    <div *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched">
      Roll is required and must be either USER or ADMIN
    </div>
  </div>

  <button [disabled]="registerForm.invalid" type="submit">Submit</button>

  <div *ngIf="errorMessage">{{ errorMessage }}</div>

</form>
