<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password">
  </div>

  <div>
    <label for="role">Role (USER or ADMIN)</label>
    <input type="text" id="role" formControlName="role">
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Submit</button>

</form>
