.registerContainer {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  display: inline-block;
}

.demoSpan {
  font-weight: lighter;
  font-size: medium;
  color: indianred;
}

.registerForm {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.registerForm > * {
  padding-right: 30px;
}

.registerError {
  font-size: large;
  color: indianred;
  margin-top: 20px;
}
