.yardDetailsContainer {
  margin-top: 75px;
  margin-left: 10%;
  margin-right: 10%;
}

.titleSpan {
  font-weight: bold;
}

.notesTitle {
  margin: 50px 0 0 5%;
}

.notesContainer {
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
}

.noteLineItem {
  display: flex;
  flex-wrap: wrap;
}

.newNoteContainer {
  width: 100%;
}

mat-panel-description {
  justify-content: space-between;
  align-items: center;
}

.newNoteField {
  width: 100%;
}


