<div class="yardDetailsContainer">

  <h2>Yard Details</h2>

  <mat-list>
    <mat-list-item><span class="titleSpan">ID: </span>{{ this.yardService.yardItem?.id }}</mat-list-item>
    <mat-list-item><span class="titleSpan">Name: </span>{{ this.yardService.yardItem?.name }}</mat-list-item>
    <mat-list-item><span class="titleSpan">Type: </span>{{ this.yardService.yardItem?.yardSubType }}</mat-list-item>
    <mat-list-item><span class="titleSpan">Hardiness zone: </span>{{ this.yardService.yardItem?.hardinessZone }}
    </mat-list-item>
  </mat-list>

  <mat-divider></mat-divider>
</div>
