<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>list</mat-icon>
      &nbsp;Details
    </ng-template>
    <div class="yardDetailsContainer">
      <h2>Yard Details</h2>

      <mat-list>
        <mat-list-item><span class="titleSpan">ID: </span>{{ this.yardService.yardItem?.id }}</mat-list-item>
        <mat-list-item><span class="titleSpan">Name: </span>{{ this.yardService.yardItem?.name }}</mat-list-item>
        <mat-list-item><span class="titleSpan">Type: </span>{{ this.yardService.yardItem?.yardSubType }}</mat-list-item>
        <mat-list-item><span class="titleSpan">Hardiness zone: </span>{{ this.yardService.yardItem?.hardinessZone }}
        </mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>

      <h3 class="notesTitle">Notes:</h3>

      <div class="notesContainer">

        <div class="currentNotesContainer">
          @for (note of this.yardService.notesList; track note.id) {
            <ul>
              <li><span class="noteLineItem">{{ note.comment }}</span>
                <button class="noteDeleteIcon" (click)="deleteNote(note.id)" mat-icon-button>
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </li>

            </ul>
          }
        </div>

        <div class="newNoteContainer">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Add Notes
                </mat-panel-title>
                <mat-panel-description>
                  Add a new note
                  <mat-icon>text_snippet</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-form-field class="newNoteField">
                <mat-label>New note</mat-label>
                <textarea [(ngModel)]="newNoteInput" matInput type="text"></textarea>
              </mat-form-field>

              <button (click)="saveNote()" class="newNoteButton" color="primary" mat-raised-button>Save</button>

            </mat-expansion-panel>
          </mat-accordion>
        </div>

      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>text_snippet</mat-icon>
      &nbsp;Calendar
    </ng-template>
    <div class="yardDetailsContainer">
      <h2>Calendar - COMING SOON!</h2>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>place</mat-icon>
      &nbsp;Map
    </ng-template>
    <div class="yardDetailsContainer">
      <h2>Map - COMING SOON!</h2>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>forest</mat-icon>
      &nbsp;Plants
    </ng-template>
    <div class="yardDetailsContainer">
      <h2>Plants - COMING SOON!</h2>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>pets</mat-icon>
      &nbsp;Animals
    </ng-template>
    <div class="yardDetailsContainer">
      <h2>Animals - COMING SOON!</h2>
    </div>
  </mat-tab>
</mat-tab-group>
