.yardDetailsContainer {
  margin-top: 75px;
  margin-left: 10%;
  margin-right: 10%;
}

.titleSpan {
  margin-right: 1%;
}

.detailsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.detailsContainer {
  margin-top: 30px;
  flex-grow: 2;
}

.thumbnailTitleContainer {
  display: flex;
  align-items: center;
}

.thumbnailUpdateButton {
  margin-left: 15px;
}

.thumbnailImage {
  width: 200px;
}

.notesTitle {
  margin-top: 50px;
}

.notesContainer {
  display: flex;
  flex-wrap: wrap;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.noteDeleteIcon {
  min-width: 25px;
  margin-left: 45px;
}

.newNoteContainer {
  width: 100%;
}

mat-panel-description {
  justify-content: space-between;
  align-items: center;
}

.newNoteField {
  width: 100%;
}
